@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
}

.container {
    background-color: aqua;
    padding: 50px;
    border-radius: 20px;
    margin: 100px 200px;
}

#heading {
    color: rgb(20, 200, 220);
}

input[type="text"] {
    margin-top: 8px;
    height: 3rem;
    width: 230px;
    border-radius: 8px;
    border: 2px solid #e7e7e9;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

input:focus {
    background-color: #fff;
    color: #495057;
    border-color: #0874e0;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="button"] {
    background-color: white;
    color: rgb(28, 211, 218);
    height: 3.2rem;
    width: 200px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.result {
    color: white;
}
